<div class="charts-container">
    <div class="chart" *ngFor="let pid of monitoredProcesses">
        <div class="chart-info">
            <h1 class="chart-id">{{ pid }}</h1>
            <span class="material-symbols-outlined chart-remove-icon " (click)="onStopMonitoring(pid)">cancel</span>
        </div>
        <process-chart  [pid]="pid"></process-chart>
    </div>
    <div class="add-chart-container" *ngIf="monitoredProcesses.length < 6">
        <h1>PID:</h1>
        <input #fileName class="pid-input" type="number" min="1" placeholder="9">
        <span class="material-symbols-outlined" (click)="onStartMonitoring(fileName.value)">add</span>
    </div>
</div>
