@use "styles";

$tab-margin-bottom: 20%;

:host {
  height: calc(100% - $tab-margin-bottom);
  min-width: 280px;
  max-width: 320px;
}

.tab {
  height: 100%;
  padding-left: 2%;

  display: flex;

  container-type: size;

  cursor: pointer;

  border-color: styles.$accent;
  border-width: 0 0 0 2px;
  border-style: solid;
}

h1 {
  display: inline-block;
  width: fit-content;
  font-size: 50cqh;
  margin: auto;
}