@use "styles";

.chart {
  height: 100%;

  display: grid;
  grid-template-rows: 100% 1px;
}

.chart-main {
  height: 100%;
  border-width: 2px;
  border-color: styles.$text-gray;
  border-style: solid;

  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;
}

.chart-resolution {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chart-resolution-line {
  color: styles.$text-gray;
  font-weight: 700;
  margin: 0 auto;
}

.chart-resolution-timestamp {
  color: styles.$accent;
  font-weight: 700;
  margin: 10px auto 0 auto;
}